body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', sans-serif;
  background: linear-gradient(to right, #00b4db, #0083b0);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cardje {
  background-color: #3CD8FD;
}

.cardje:hover {
  background-color: #1cd2ff;
}
